.tms-login__form {
    height: auto;
    
    .tms-login__input {
        margin-top: 10px;

        & > .van-cell {
            padding: 8px 16px
        }
    }

    .flex {
        display: flex;

        &.flex__row {
            flex-direction: row;
        }
    }

    .tms-login__button {
        margin-top: 15px;

        & > .van-button--large {
            height: 40px;
            line-height: 38px;
        }
    }
}